<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
        <link rel="stylesheet" href="/styles/resets.scss">
        <link rel="stylesheet" href="/styles/base.scss">
        <link rel="stylesheet" href="/styles/header.scss">
        <link rel="stylesheet" href="/styles/form.scss">
        <link rel="stylesheet" href="/styles/footer.scss">
    </head>

    <body>

        <header>
                <div class="">
                    udacity
                </div>
                <div class="">
                    Project: Evaluate a News Article with NLP
                </div>
           
        </header>

        <main>
            <h1>About Aylian Text Analysis API</h1>

            <p>
                The Aylien Text Analysis API provides powerful and flexible AI-driven content analysis solutions that bring the power of NLP to the masses. We help developers, data scientists, and marketers understand human-generated textual content at scale.
            </p>

            <h2>Try it out! Type in a "URL" to see what the Aylient NLP understands from it.</h2>

            <section>
                <form class="" onsubmit="return handleSubmit(event)">
                    <input id="textForm" type="text" name="input" value="" onblur="onBlur()" placeholder="ACME corp was founded by John Smith in Chicago.">
                    <input type="submit" name="" value="submit" onclick="return handleSubmit(event)" onsubmit="return handleSubmit(event)">
                </form>
            <section>

                <section class="url-results">
                    <ul>
                        <li>
                            <h3>Location:</h3>
                            <p id="Location"></p>
                            <h4>keyword: </h4>
                            <p id="keyword"></p>
                        </li>
    
                        <li>
                            <h3>organization:</h3>
                            <p id="organization"></p>
                            <h4>person: </h4>
                            <p id="person"></p>
                        </li>
    
                        <h3>Text Excerpt:</h3>
                        <p id="excerpt"></p>
                    </ul>
                </section>
        </main>

        <footer class="ft">
            <p>@CopyRight for Jihad Tareq</p>
        </footer>

    </body>
</html>
