footer.ft{
    display: flex;
    background-color:#0088cc;
    justify-content: center;
    padding: 20px;
    font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    p{
     font-weight: bold;
    }
}
//phone
@media only screen and (max-width: 767px) {
}

// tablet
@media only screen and (max-width: 1000px) {
}

// desktop
@media only screen and (min-width: 1001px) {
}
