header {
    display: flex;
    justify-content: space-evenly;
    padding: 50px 40px;
    background-color:#0088cc;
    align-items: center;
    text-align: center;
     div {
         margin: 10px;
         font-size: 30px;
         font-weight: bolder;
     }

}
